<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>BUNet ID:</ion-label>
    <ion-input [(ngModel)]='userId' required=true></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>BUNet Password:</ion-label>
    <ion-input [(ngModel)]='pass' required=true type='password'></ion-input>
  </ion-item>
  <button ion-button (click)='login(userId, pass)'>Login</button>
  <button ion-button (click)='loadString(home)'>To Homepage</button>
</ion-content>
